.idea
.gitignore
.dockerignore

src/HeatingGateway.API/bin
src/HeatingGateway.API/obj

src/HeatingGateway.Application/bin
src/HeatingGateway.Application/obj

src/HeatingGateway.Contracts/bin
src/HeatingGateway.Contracts/obj

tests/HeatingGateway.API.Test/bin
tests/HeatingGateway.API.Test/obj

tests/HeatingGateway.Application.Test/bin
tests/HeatingGateway.Application.Test/obj
