[submodule "backend"]
	path = backend
	url = https://github.com/aleksi-kangas/terrace-heating-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/aleksi-kangas/terrace-heating-frontend
